<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>后台管理系统</title>
    <meta name="keywords" content="后台开源,后台框架,后台系统">
    <meta name="description" content="后台基于SpringBoot2.1的权限管理系统 易读易懂、界面简洁美观。 核心技术采用Spring、MyBatis、Shiro没有任何其它重度依赖">
    <link href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
</head>
<body class="all">

<div class="login">
    <div class="message">登录</div>
    <div id="darkbannerwrap"></div>
<form class="layui-form"  action="">
    <div class="layui-form-item">
        <label class="layui-form-label la">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入用户名"
                   class="layui-input uname">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label la">密码</label>
        <div class="layui-input-block">
            <input type="password" name="title" lay-verify="title" autocomplete="off" placeholder="请输入密码"
                   class="layui-input pword">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block tj">
            <button class="layui-btn bt" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary bt">重置</button>
        </div>
    </div>
</form>
</div>

<script src="../static/layui/js/layui.js" th:src="@{/layui/js/layui.all.js}"></script>
</body>
</html>
